#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk
include /usr/share/dpkg/architecture.mk
unexport MKLROOT
unexport INTEL
export FC = mpif90

SRCCOPY_REL := obj-src
BUILD_REL   := obj-$(DEB_HOST_GNU_TYPE)
SRCCOPY     := $(CURDIR)/$(SRCCOPY_REL)
BUILDDIR    := $(CURDIR)/$(BUILD_REL)
STAGE       := $(CURDIR)/debian/tmp

%:
	dh $@ --buildsystem=cmake \
	      --sourcedirectory=$(SRCCOPY_REL) \
	      --builddirectory=$(BUILD_REL)

override_dh_auto_clean:
	rm -rf $(SRCCOPY) $(BUILDDIR)

override_dh_auto_configure:
	rm -rf $(SRCCOPY)
	mkdir -p $(SRCCOPY)
	find . -mindepth 1 -maxdepth 1 \
	    ! -name debian ! -name .git ! -name 'obj-*' \
	    -exec cp -a {} $(SRCCOPY)/ \;
	dh_auto_configure -- \
	    --no-warn-unused-cli \
	    -DVERSION=$(DEB_VERSION_UPSTREAM) \
	    -DBUILD_TYPE=RELEASE \
	    -DBUILD_SHARED_LIBS=OFF \
	    -DUSE_MPI=ON \
	    -DWITH_SCALAPACK=ON \
	    -DWITH_BLAS_LAPACK=OFF \
	    -DBLA_VENDOR=Generic \
	    -DCMAKE_DISABLE_FIND_PACKAGE_MKL=ON \
	    -DVERBOSE=ON

override_dh_auto_install:
	bin/scifor_debian_install.sh $(BUILDDIR) $(STAGE) $(DEB_HOST_MULTIARCH) \
	    $(DEB_VERSION_UPSTREAM) debian/libscifortran-dev.substvars

execute_after_dh_auto_install:
	PKG_CONFIG_PATH=$(STAGE)/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig \
	    pkg-config --validate --print-errors scifor
	PKG_CONFIG_PATH=$(STAGE)/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig \
	    pkg-config --print-errors --modversion --cflags --libs scifor

override_dh_auto_test:
	@echo "No build-time tests; see debian/tests."
